* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 3%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.751819396286868) 0%,
          rgba(0, 0, 0, 0) 100%
  );
}

header ul li a {
  color: white;
  font-size: 14px;
}

header ul li {
  padding: 10px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu.left {
  flex: 1;
  margin-left: 40px;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

header li img {
  border-radius: 5px;
  height: 34px;
  width: 34px;
}

.fa-caret-down {
  margin-left: 10px;
}

header li {
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: rgb(218, 218, 218);
}

.profile-menu {
  position: absolute;
  right: 0;
  top: 70px;
  border-radius: 5px;
  width: 200px;
  background: #23252b;
  opacity: 0;
}

.profile {
  position: relative;
}

.profile:hover .profile-menu {
  opacity: 1;
}

.profile-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.profile-menu ul li a img,
.profile-menu ul li a i {
  margin-right: 10px;
}

.profile-menu li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-img:hover div .profile-menu {
  opacity: 0;
}

.profile-menu li:hover {
  text-decoration: underline;
}


.film {
  background-image: url("https://images6.alphacoders.com/696/thumb-1920-696647.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  display: flex;
  padding: 0 3%;
}


.about-film {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  color: white;
}

.film-logo img {
  display: flex;
  flex-direction: row;
  width: 450px;
}

.about-film .n-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-film .n-logo img {
  width: 25px;
}

.about-film .n-logo h2 {
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: 400;
}

.about-film .description {
  font-size: 16px;
  padding-bottom: 20px;
}

.about-film .buttons button {
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 25px;
  padding: 15px 25px;
  font-size: 20px;
  color: black;
}

.about-film .buttons button:hover {
  background-color: rgb(211, 211, 211);
}

.about-film .buttons .info-button {
  width: 190px;
  color: white;
  background-color: rgba(228, 228, 228, 0.541);
}
