* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images6.alphacoders.com/696/thumb-1920-696647.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ჰედერი */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 70px;
  padding: 0 3%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.751819396286868) 0%,
          rgba(0, 0, 0, 0) 100%
  );
}

.header-container ul li a,
.header-container ul li a i,
.header-container ul li i {
  color: white;
  font-size: 14px;
}

.header-container ul li {
  padding: 10px;
}

.left-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-menu {
  margin-left: 40px;
}

.menu,
.left-menu,
.right-menu {
  list-style: none;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container li img {
  border-radius: 5px;
  height: 34px;
  width: 34px;
}

.fa-caret-down {
  margin-left: 10px;
}

.header-container li {
  display: inline-block;
  padding: 0 20px;
}

.header-container a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.header-container a:hover {
  color: rgb(218, 218, 218);
}

.header-container i {
  transition: all 0.3s ease 0s;
}

.header-container i:hover {
  color: rgb(218, 218, 218);
}

.profile-menu {
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  display: block;
  right: 50px;
  top: 70px;
  border-radius: 5px;
  width: 200px;
  height: auto;
  background: #23252b;
  opacity: 1;
}

.profile-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.profile-menu ul li a img,
.profile-menu ul li a i {
  margin-right: 10px;
}

.profile-menu li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-img:hover div .profile-menu {
  opacity: 0;
}

.profile-menu li:hover {
  text-decoration: underline;
}

/* ფილმის შესახებ */

.about-film {
  height: auto;
  width: auto;
  left: 60px;
  top: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
}

.film-logo img {
  display: flex;
  flex-direction: row;
  width: 450px;
}

.about-film .n-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.about-film .n-logo img {
  width: 25px;
}

.about-film .n-logo h2 {
  text-transform: uppercase;
  color: white;
  padding-left: 20px;
  font-weight: 400;
}

.about-film p {
  color: white;
  font-size: 16px;
  width: 460px;
  padding-bottom: 20px;
}

.about-film .buttons button {
  background-color: white;
  height: 55px;
  width: 150px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 25px;
}

.about-film .buttons button:hover {
  background-color: rgb(211, 211, 211);
}

.about-film .buttons button i {
  color: black;
}

.about-film .buttons button a {
  padding-left: 15px;
  font-size: 16px;
}

.about-film .buttons .info-button {
  width: 190px;
  background-color: rgba(228, 228, 228, 0.541);
}
